html, body{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#objs3D{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#uiContainer{
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-family: 'Instrument Sans'
}

.uiText{
  text-align: center;
  margin: 30px 30px 0px;
  color: white;
}

@media screen and (orientation: landscape)
{
  .uiText{
    font-size: 2vw;
  }
}

@media screen and (orientation: portrait)
{
  .uiText{
    font-size: 2vh;
  }
}

.uiDescription{
  text-wrap: balance;
}

#uiTitle{
  font-weight: bold;
}

.roundButton{
  z-index: 3;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
}

#continue{
  width: 100%;
  height: 100%;
  background-image: url(https://mlmirabelli.github.io/webartest/media/continue.png);
  background-size: 100% 100%;
  border-radius: 50%;
  border: none;
}

#continue:disabled{
  filter: grayscale(80%);
}


#continue:hover:enabled{
  filter: brightness(150%)
}

#continue:active:enabled{
  transform: translateY(2px);
}

/*Source for video sizing and placement: https://codepen.io/shshaw/pen/OVGWLG */
#streamContainer {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#streamContainer video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
